<div class="container">
<div class="logo">
    <%= image_tag("FLIPBANK_1.png", size: "270x60") %>
</div><br><br>

<p>Thank you for considering FlipBank's ("Company") Non-Owner Occupied Residential Loan Program for your commercial financing needs.  We have reviewed your preliminary application and pleased to offer this letter demonstrating our interest in proceeding with this request.  The below terms and conditions are presented for discussion purposes only; are estimates subject to change or withdrawal at any time, and do not represent a commitment on the part of Company or it's assigns, investors, partners and/or lenders to provide the financing being discussed.</p>
</div>

<div class="container">
    <div class="panel panel-primary">
        <div class="panel-heading">SUBMISSION SUMMARY</div>
            <table class="table table-hover">
                <tr>
                    <td><strong>Collateral Address</strong></td>
                    <td></td>
                </tr>
                    <td><strong>Guarantor(s)</strong></td>
                    <td></td>
            </table>
        </div>
    </div>
</div> 

<div class="container">
    <div class="panel panel-primary">
        <div class="panel-heading">TRANSACTION SUMMARY</div>
            <table class="table table-hover">
                <tr>
                    <td><strong>Transaction Type</strong></td>
                    <td>Refinance</td>
                    <td><strong>Property Type</strong></td>
                    <td>Single Family Home</td>
                </tr>
                <tr>
                    <td><strong>Lien Position</strong></td>
                    <td>First</td>
                    <td><strong>Recourse Type</strong></td>
                    <td>Answer</td>
                </tr>
                <tr>
                    <td><strong>Gross Loan Amount</strong></td>
                    <td>Answer</td>
                    <td><strong>Underwriting Type</strong></td>
                    <td>Answer</td>
                </tr>
                <tr>
                    <td><strong>Lien(s) to be Paid Off</strong></td>
                    <td>Answer</td>
                    <td><strong>Est. "As Is" Value</strong></td>
                    <td>Answer</td>
                </tr>
                <tr>
                    <td><strong>Cash Out</strong></td>
                    <td>Answer</td>
                    <td><strong>Est. "As Renovated" Value</strong></td>
                    <td>Answer</td>
                </tr>
                <tr>
                    <td><strong>Rehab Cost</strong></td>
                    <td>Answer</td>
                    <td><strong>Credit Minimum</strong></td>
                    <td>Answer</td>
                </tr>
                <tr>
                    <td><strong>Equity</strong></td>
                    <td>Answer</td>
                    <td><strong>Closing Time</strong></td>
                    <td>Answer</td>
                </tr>
                <tr>
                    <td><strong>Closing Costs</strong></td>
                    <td>Answer</td>
                    <td><strong>Company Points</strong></td>
                    <td>Answer</td>
                </tr>
                <tr>
                    <td><strong>Out-of-Pocket Costs</td>
                    <td>Answer</td>
                </tr>
            
            </table>
        </div>
    </div>
</div> 

<div class="container">
    <div class="panel panel-primary">
        <div class="panel-heading">TERMS</div>
            <table class="table table-hover">
                <tr>
                    <th>LTAIV</th>
                    <th>Max. LTAIV</th>
                    <th>Fixed Period</th>
                    <th>Rate*</th>
                    <th>Margin</th>
                    <th>Amortization</th>
                    <th>Prepay Penalty</th>
                    <th>Index</th>
                    <th>Balloon</th>
                </tr>
                <tr>
                    <td>75%</td>
                    <td>75%</td>
                    <td>75%</td>
                    <td>75%</td>
                    <td>75%</td>
                    <td>75%</td>
                    <td>75%</td>
                    <td>75%</td>
                    <td>75%</td>
                </tr>
            </table>
        </div>
        <p>* Based on the LTAIV (loan-to "as is" value) listed above and calculated off the "as is" value provided by borrower. The rate will increase if the LTAIV increases.</p>
        <br><br>
    </div>
</div> 
<div class="container">
<p>If you would like Company to conduct a formal underwriting of your loan request please provide us with a non-refundable due diligence fee of $799.00 as well as a signed and initialed copy of this letter within five (5) days of its issuance date listed herein.  Furture loan approval is subject to a comprehensive due diligence review by Company and its assigns, investors, partners and/or lenders.  No hand-written modifications to this letter are allowed or valid.  This letter supersedes, and makes void, any prior written or verbal proposals.  Please let us know if you have any questions or require additional information concerning this proposal.  We look forward to assisting you with your commercial financing needs.</p>

<h5><u>Special Conditions</u></h5>
</div>
<div class="container">
    <div class="panel panel-primary">
        <div class="panel-heading">DESCRIPTION</div>
            <table class="table table-hover">
                <tr>
                    <th>DESCRIPTION</th>
                    <th>COST</th>
                    <th>PAID AT</th>
                </tr>
                <tr>
                    <td>Due Diligence Fee</td>
                    <td>$799</td>
                    <td>Closing</td>
                </tr>
                <tr>
                    <td>Appraisal Report</td>
                    <td>$799</td>
                    <td>Closing</td>
                </tr>
                <tr>
                    <td>Processing Fee</td>
                    <td>$799</td>
                    <td>Closing</td>
                </tr>
                <tr>
                    <td>Company Points <span>&nbsp;&nbsp;&nbsp;&nbsp;(3.99%)</span></td>
                    <td>$799</td>
                    <td>Closing</td>
                </tr>
                <tr>
                    <td>Document Preparation Fee</td>
                    <td>$799</td>
                    <td>Closing</td>
                </tr>
                <tr>
                    <td>Title/UCC Fees</td>
                    <td>$799</td>
                    <td>Closing</td>
                </tr>
                <tr>
                    <td>Due Diligence Fee</td>
                    <td>$799</td>
                    <td>Closing</td>
                </tr>
                <tr>
                    <td>Environmental Screen</td>
                    <td>$799</td>
                    <td>Closing</td>
                </tr>
                <tr>
                    <td>Closer Fee</td>
                    <td>$799</td>
                    <td>Closing</td>
                </tr>
                <tr>
                    <td>Recording Fees</td>
                    <td>$799</td>
                    <td>Closing</td>
                </tr>
                <tr>
                    <td>Credit Fee</td>
                    <td>$799</td>
                    <td>Closing</td>
               </tr>
               <tr>
                    <td>Flood Certification Fee</td>
                    <td>$799</td>
                    <td>Closing</td>
               </tr>
               <tr>
                    <td>Pre-Paid Interest</td>
                    <td>$799</td>
                    <td>Closing</td>
               </tr>
               <tr>
                    <td>Total Closing Costs</td>
                    <td>$799</td>
                    <td>Closing</td>
               </tr>
               <tr>
                   <td>Total Out of Pocket Due Diligence Costs</td>
                   <td>$799</td>
                   <td>Closing</td>
               </tr>

        </table>
        </div>
    </div>
    
    <div class="container">
    <h5>Due Diligence Fee Refund Policy</h5>
    
    <p>A previously submitted non-refundable due diligence or appraisal fee will be fully refunded only in the event that a loan des not close due to FlipBank error or failure to perform as outlined in this letter of interest. Refunds will not be issued on transactions that do not close because or borrower's misrepresentation, cancellation or delays, inability or borrower to meet documentation or information requests, failure of borrower to read and understand this letter of interest, borrower omission of necessary facts, acts of fraud, or due to adverse results of third-party reports including but not limited to:  Undisclosed environmental issues, title issues, judgements, tax liens or a lower than anticipated appraised value.</p>
    </div>
    
<div class="container">
    <div class="panel panel-success">
        <div class="panel-heading">SUBMISSION SUMMARY</div>
            <table class="table table-hover">
                <tr>
                    <td class="right"><strong>Status: </strong></td>
                    <td class="left">Available</td>
                    <td class="right"><strong>Estimated After Repair Value: </strong></td>
                    <td>$140,000</td>
                </tr>
                <tr>
                    <td class="right"><strong>Lead Type: </strong></td>
                    <td class="left">Motivated Seller</td>
                    <td class="right">minus <strong>Seller's Asking Price: </strong></td>
                    <td>$115,000</td>
                </tr>    
                <tr>
                    <td class="right"><strong>Property Type: </strong></td>
                    <td class="left">Single Family House</td>
                    <td class="right">minus <strong>Estimated Cost of Repairs: </strong></td>
                    <td>$0</td>
                </tr>
                    <td class="right"><strong>Location: </strong></td>
                    <td class="left">Chicago, IL 60643</td>
                    <td class="right">equals <strong>Profit Potential of: </strong></td>
                    <td>$25,000</td>
            </table>
        </div>
    </div>
</div> 

